header{
    background-color: rgb(64, 62, 62);
    height: 150px;
    width: 100vw;
}
body{
    background-color: rgb(236, 236, 236);   
}
section{
    background-color:rgb(218, 218, 218);
}

.section1 {
    height: 100vh;
    width: 120px;
    position: fixed;
    top:158px;
    left: 0px;
}
.section2 {
    height: 100vh;
    width:120px;
    position: fixed;
    top: 158px;
    right:0px 
}
footer{
   background-color: black;
   height: 100px;
   width: 605px;
  position: fixed; 
  bottom: 0px; 
  left: 120px;
  right:120px
}
